## SQLite3 활용

In [1]:
import sqlite3 as sq

- DB 에 접속해서 데이터 읽기

In [3]:
# member table 에 있는 데이터 모두 읽기 
conn = sq.connect('test.db')
cur = conn.cursor()

sql = 'select * from member'
cur.execute(sql)
rows = cur.fetchall()

cur.close()
conn.close()

In [4]:
for row in rows:
    print(row)

(1, 'james', 25)
(2, 'maria', 23)
(3, 'tommy', 19)
(4, 'emma', 27)

In [5]:
# 24세 미만 member 가져오기 

conn = sq.connect('test.db')
cur = conn.cursor()

sql = 'select * from member where age < 24 '  
# 조건 붙이기 where age < 24 ' 나이가 24세보다 작은.
cur.execute(sql)
rows = cur.fetchall()

cur.close()
conn.close()

for row in rows:
    print(row)

(2, 'maria', 23)
(3, 'tommy', 19)

In [ ]:
# ? 세 미만의 member 가져오는 함수 ( 조건문을 파라메터로 가지고 오는 방법 )
def get_members_under_age(age):
    conn = sq.connect('test.db')
    cur = conn.cursor()

    sql = 'selext * from member where age < ?'
    cur.execute(sql, (age, ) ) # 파라메터는 반드시 튜플로 주어야 함 (age, ) << 튜플 주는 방법.