### 2.10 서울시 구별 CCTV 현황 분석
- 서울시 자치구 연도별 CCTV 운영현황
- 서울시 주민등록 인구(구별 통계)

    - cctv 갯수 : 2015년 ~ 2022년 계
    - 최근 증가율 : (2020 ~ 2022) / 총 댓수 * 100
    - 인구수 : 2023 1/4 분기 자료 
       종로구 중구 용산구

### 1.CCTV 데이터

In [44]:
import numpy as np
import pandas as pd

In [45]:
cctv = pd.read_csv('data/서울시 자치구 년도별 CCTV 설치 현황_230630기준.csv',encoding='EUC-KR', index_col='구분',thousands=',')

cctv

,Unnamed: 0,총계,2014년 이전,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
구분,,,,,,,,,,,,,
계,NaN,92991,5896.0,3927,6416,8812,11598,10887,13083,11803,9396,9302,1871.0
종로구,1.0,1966,553.0,103,160,130,144,150,67,233,88,207,131.0
중 구,2.0,2584,217.0,77,236,240,372,386,155,361,403,137,0.0
용산구,3.0,2970,87.0,68,83,295,491,115,322,623,422,464,0.0
성동구,4.0,4175,157.0,110,366,281,942,457,643,485,367,232,135.0
광진구,5.0,3592,130.0,176,95,40,666,460,712,190,738,273,112.0
동대문구,6.0,2759,3.0,5,72,774,702,201,218,229,229,317,9.0
중랑구,7.0,4193,555.0,104,145,153,170,215,1074,976,507,294,NaN
성북구,8.0,4957,318.0,229,322,594,811,867,714,253,407,338,104.0
강북구,9.0,3321,21.0,16,68,210,4,375,963,569,298,797,NaN
도봉구,10.0,2385,98.0,54,27,91,116,183,195,179,592,591,259.0
노원구,11.0,2626,238.0,75,509,329,171,216,324,387,215,144,18.0
은평구,12.0,4653,61.0,332,329,555,403,635,1057,288,471,522,0.0
서대문구,13.0,3538,1012.0,114,109,277,416,246,325,441,331,174,93.0
마포구,14.0,2638,61.0,109,170,458,376,368,494,298,177,117,10.0
양천구,15.0,3890,369.0,129,243,423,564,833,311,352,374,292,NaN
강서구,16.0,3353,132.0,200,192,167,507,259,455,363,441,596,41.0
구로구,17.0,4831,307.0,160,263,351,559,542,789,652,689,341,178.0
금천구,18.0,2885,NaN,43,350,132,196,539,366,513,207,304,235.0
영등포구,19.0,4660,190.0,295,360,285,422,803,153,1357,329,450,16.0
동작구,20.0,2690,88.0,478,127,255,270,299,311,433,30,373,26.0
관악구,21.0,5642,592.0,277,448,607,675,663,889,404,549,135,403.0
서초구,22.0,4995,160.0,70,559,518,1054,426,344,422,566,876,0.0
강남구,23.0,7243,121.0,573,826,1295,989,744,790,923,514,468,0.0
송파구,24.0,3253,149.0,74,183,126,227,526,1050,237,151,431,99.0
강동구,25.0,3192,277.0,56,174,226,351,379,362,635,301,429,2.0

In [46]:
cctv.drop(columns=['Unnamed: 0', '총계', '2023년'], inplace=True)
cctv.drop(['계'], inplace=True)
cctv.head()

     2014년 이전  2014년  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년
구분
종로구     553.0    103    160    130    144    150     67    233     88    207
중 구     217.0     77    236    240    372    386    155    361    403    137
용산구      87.0     68     83    295    491    115    322    623    422    464
성동구     157.0    110    366    281    942    457    643    485    367    232
광진구     130.0    176     95     40    666    460    712    190    738    273

In [47]:
# 결측치가 있는지 확인 
cctv['2014년 이전'].isna().sum()

1

In [48]:
cctv.isna().sum(), cctv.isna().sum()

(2014년 이전    1
 2014년       0
 2015년       0
 2016년       0
 2017년       0
 2018년       0
 2019년       0
 2020년       0
 2021년       0
 2022년       0
 dtype: int64,
 2014년 이전    1
 2014년       0
 2015년       0
 2016년       0
 2017년       0
 2018년       0
 2019년       0
 2020년       0
 2021년       0
 2022년       0
 dtype: int64)

In [49]:
# 결측치를 0으로 대체하고, 타입을 정수로 변경

cctv = cctv.fillna(0).astype(int) # (0.0)으로 해도 됨
cctv

      2014년 이전  2014년  2015년  2016년  2017년  2018년  2019년  2020년  2021년  2022년
구분
종로구        553    103    160    130    144    150     67    233     88    207
중 구        217     77    236    240    372    386    155    361    403    137
용산구         87     68     83    295    491    115    322    623    422    464
성동구        157    110    366    281    942    457    643    485    367    232
광진구        130    176     95     40    666    460    712    190    738    273
동대문구         3      5     72    774    702    201    218    229    229    317
중랑구        555    104    145    153    170    215   1074    976    507    294
성북구        318    229    322    594    811    867    714    253    407    338
강북구         21     16     68    210      4    375    963    569    298    797
도봉구         98     54     27     91    116    183    195    179    592    591
노원구        238     75    509    329    171    216    324    387    215    144
은평구         61    332    329    555    403    635   1057    288    471    522
서대문구      1012    114    109    277    416    246    325    441    331    174
마포구         61    109    170    458    376    368    494    298    177    117
양천구        369    129    243    423    564    833    311    352    374    292
강서구        132    200    192    167    507    259    455    363    441    596
구로구        307    160    263    351    559    542    789    652    689    341
금천구          0     43    350    132    196    539    366    513    207    304
영등포구       190    295    360    285    422    803    153   1357    329    450
동작구         88    478    127    255    270    299    311    433     30    373
관악구        592    277    448    607    675    663    889    404    549    135
서초구        160     70    559    518   1054    426    344    422    566    876
강남구        121    573    826   1295    989    744    790    923    514    468
송파구        149     74    183    126    227    526   1050    237    151    431
강동구        277     56    174    226    351    379    362    635    301    429

In [50]:
cctv['CCTV댓수'] = cctv.sum(axis=1)
cctv.head(3)

,2014년 이전,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,CCTV댓수
구분,,,,,,,,,,,
종로구,553,103,160,130,144,150,67,233,88,207,1835
중 구,217,77,236,240,372,386,155,361,403,137,2584
용산구,87,68,83,295,491,115,322,623,422,464,2970

In [51]:
cctv['최근증가율'] = (cctv.loc[:,'2020년':'2022년'].sum(axis=1) / cctv['CCTV댓수'] * 100).round(2)
cctv.head(3)

,2014년 이전,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,CCTV댓수,최근증가율
구분,,,,,,,,,,,,
종로구,553,103,160,130,144,150,67,233,88,207,1835,28.77
중 구,217,77,236,240,372,386,155,361,403,137,2584,34.87
용산구,87,68,83,295,491,115,322,623,422,464,2970,50.81

In [52]:
cctv.drop(columns= ['2014년 이전']+'2014년 2015년   2016년   2017년   2018년   2019년   2020년   2021년   2022년'.split(),
                     inplace=True)
cctv.head()

     CCTV댓수  최근증가율
구분
종로구    1835  28.77
중 구    2584  34.87
용산구    2970  50.81
성동구    4040  26.83
광진구    3480  34.51

In [53]:
#'중 구'사이의 Blank 없애기
cctv.index = cctv.index.str.replace(' ','')
cctv.index[1]

'중구'

### 2. 서울시 구별 주민등록 데이터

In [54]:
pop = pd.read_csv('data/서울시 구별 주민등록.csv',skiprows=1, thousands=',')
pop.head(5)

,동별(1),동별(2),세대 (세대),계 (명),한국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명),세대 (세대).1,계 (명).1,한국인 (명).1,등록외국인 (명).1,인구밀도
0,합계,소계,4463385,9668008,9426404,241604,2.11,1690961,4469158,9659322,9414093,245229,2
1,합계,종로구,72679,152212,141060,11152,1.94,28265,72507,151349,140397,10952,2
2,합계,중구,63862,131390,120963,10427,1.89,25353,64375,132054,121441,10613,2
3,합계,용산구,109735,232482,217756,14726,1.98,39478,109679,232069,217288,14781,2
4,합계,성동구,133513,287240,280240,7000,2.10,48238,133484,286564,279374,7190,2

In [55]:
pop = pop[['동별(2)','계 (명)','한국인 (명)','등록외국인 (명)','65세이상고령자 (명)']]
pop.head(3)

  동별(2)    계 (명)  한국인 (명)  등록외국인 (명)  65세이상고령자 (명)
0    소계  9668008  9426404     241604       1690961
1   종로구   152212   141060      11152         28265
2    중구   131390   120963      10427         25353

In [56]:
pop.columns = ['구별','인구수','내국인','외국인','고령자']
pop.head(3)

    구별      인구수      내국인     외국인      고령자
0   소계  9668008  9426404  241604  1690961
1  종로구   152212   141060   11152    28265
2   중구   131390   120963   10427    25353

In [57]:
# 첫번째 행 지우기 
pop.drop([0], inplace=True)
pop.head(3)

    구별     인구수     내국인    외국인    고령자
1  종로구  152212  141060  11152  28265
2   중구  131390  120963  10427  25353
3  용산구  232482  217756  14726  39478

In [58]:
# 구별을 인덱스로 만들기 
pop.set_index('구별', inplace=True)
pop.head()

        인구수     내국인    외국인    고령자
구별
종로구  152212  141060  11152  28265
중구   131390  120963  10427  25353
용산구  232482  217756  14726  39478
성동구  287240  280240   7000  48238
광진구  350925  336801  14124  54854

In [59]:
# 외국인 비율
pop['외국인 비율'] = (pop.외국인 / pop['인구수'] * 100).round(2)
pop['고령자 비율'] = (pop['고령자'] / pop['인구수'] * 100).round(2)
pop.head()

        인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구  152212  141060  11152  28265    7.33   18.57
중구   131390  120963  10427  25353    7.94   19.30
용산구  232482  217756  14726  39478    6.33   16.98
성동구  287240  280240   7000  48238    2.44   16.79
광진구  350925  336801  14124  54854    4.02   15.63

### 3. CCTV 데이터와 POP 데이터 합치기

In [60]:
so = pd.concat([cctv, pop], axis=1)
so.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
종로구    1835  28.77  152212  141060  11152  28265    7.33   18.57
중구     2584  34.87  131390  120963  10427  25353    7.94   19.30
용산구    2970  50.81  232482  217756  14726  39478    6.33   16.98
성동구    4040  26.83  287240  280240   7000  48238    2.44   16.79
광진구    3480  34.51  350925  336801  14124  54854    4.02   15.63

In [61]:
df = pd.merge(cctv, pop, left_index=True, right_index=True)
df.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
종로구    1835  28.77  152212  141060  11152  28265    7.33   18.57
중구     2584  34.87  131390  120963  10427  25353    7.94   19.30
용산구    2970  50.81  232482  217756  14726  39478    6.33   16.98
성동구    4040  26.83  287240  280240   7000  48238    2.44   16.79
광진구    3480  34.51  350925  336801  14124  54854    4.02   15.63

In [62]:
df.shape

(25, 8)

In [63]:
df.index.name = '구별'
df.head()

     CCTV댓수  최근증가율     인구수     내국인    외국인    고령자  외국인 비율  고령자 비율
구별
종로구    1835  28.77  152212  141060  11152  28265    7.33   18.57
중구     2584  34.87  131390  120963  10427  25353    7.94   19.30
용산구    2970  50.81  232482  217756  14726  39478    6.33   16.98
성동구    4040  26.83  287240  280240   7000  48238    2.44   16.79
광진구    3480  34.51  350925  336801  14124  54854    4.02   15.63

-  서울시 구별 CCTV 인구 현황

In [64]:
# 데이터 파일 만들기
df.to_csv('data/서울시 구별 CCTV 인구 현황.csv')

In [65]:
# 데이터 파일 불러오기 
pd.read_csv('data/서울시 구별 CCTV 인구 현황.csv')

      구별  CCTV댓수  최근증가율     인구수     내국인    외국인     고령자  외국인 비율  고령자 비율
0    종로구    1835  28.77  152212  141060  11152   28265    7.33   18.57
1     중구    2584  34.87  131390  120963  10427   25353    7.94   19.30
2    용산구    2970  50.81  232482  217756  14726   39478    6.33   16.98
3    성동구    4040  26.83  287240  280240   7000   48238    2.44   16.79
4    광진구    3480  34.51  350925  336801  14124   54854    4.02   15.63
5   동대문구    2750  28.18  354884  337574  17310   65154    4.88   18.36
6    중랑구    4193  42.38  389928  385003   4925   76116    1.26   19.52
7    성북구    4853  20.56  441855  430100  11755   78427    2.66   17.75
8    강북구    3321  50.11  296934  292762   4172   67056    1.41   22.58
9    도봉구    2126  64.06  312858  310509   2349   68114    0.75   21.77
10   노원구    2608  28.60  506989  502515   4474   93279    0.88   18.40
11   은평구    4653  27.53  468766  464871   3895   90556    0.83   19.32
12  서대문구    3445  27.46  321966  308437  13529   56785    4.20   17.64
13   마포구    2628  22.53  376542  365570  10972   56582    2.91   15.03
14   양천구    3890  26.17  442345  439219   3126   73522    0.71   16.62
15   강서구    3312  42.27  573711  568287   5424   98659    0.95   17.20
16   구로구    4653  36.15  417983  395183  22800   77259    5.45   18.48
17   금천구    2650  38.64  242467  229307  13160   43772    5.43   18.05
18  영등포구    4644  45.99  398999  376614  22385   66014    5.61   16.54
19   동작구    2664  31.38  390377  380201  10176   68766    2.61   17.62
20   관악구    5239  20.77  502628  487815  14813   83420    2.95   16.60
21   서초구    4995  37.32  408979  404831   4148   63328    1.01   15.48
22   강남구    7243  26.30  537817  532798   5019   83097    0.93   15.45
23   송파구    3154  25.97  663704  658006   5698  105161    0.86   15.84
24   강동구    3190  42.79  464027  459982   4045   79706    0.87   17.18